<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>error404</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">error404</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="text-align: center; margin-top: 20px;">
    <img src="/assets/eror_404_1.png" alt="Error 404" style="max-width: 100%; height: auto;"/>
    <p style="margin-top: 10px;">El contenido que buscas no se encuentra disponible.</p>
  </div>
  <ion-button (click)="principalTo()">principal</ion-button>
</ion-content>
